@model List<Resital.DTO.RoomDto>
@{
    Layout = $"~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <h3 class="text-dark mb-4">Companies</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Oda Bilgleri</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"></div>
                </div>
                <div class="col-md-6">
                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" /></label></div>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Otel Adı</th>
                            <th>Oda Lokasyonu</th>
                            <th>Oda Tipi</th>
                            <th>Oda Fiyat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var company in Model)
                        {
                            <tr>
                                <td><img class="rounded-circle mr-2" width="30" height="30" src="avatars/avatar2.jpeg" /><a asp-controller="Company" asp-action="Details/@company.Company.Id">@company.Company.Name</a></td>
                                <td>@company.RoomLocation.Name</td>
                                <td>@company.RoomType.Name</td>
                                <td>
                                    <form method="post" action="/Admin/CompanyDelete/">
                                        <a asp-controller="Admin" asp-action="RoomEdit@company.Id" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Güncelle</a>
                                        <input type="hidden" name="Id" value="@company.Id" />
                                        <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Otel Adı</strong></td>
                            <td><strong>Oda Lokasyonu</strong></td>
                            <td><strong>Oda Tipi</strong></td>
                            <td><strong>Oda Fiyat</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>