html, body {
    height: 100%;
    width: 100%;
}

.sp-loading {
    border: 5px solid #eee;
    border-radius: 3px;
    color: #888;
    font-size: 12px;
    max-width: 270px;
    padding: 15px;
    text-align: center;
}

.sp-wrap {
    background: #eee;
    border: 5px solid #eee;
    border-radius: 3px;
    display: none;
    float: left;
    font-size: 0;
    line-height: 0;
    margin: 0 25px 15px 0;
    max-width: 300px;
    position: relative;
}

.sp-thumbs {
    display: inline-block;
    text-align: left;
}

.sp-thumbs img {
    max-width: 50px;
    min-height: 50px;
    min-width: 50px;
}

.sp-thumbs a:link, .sp-thumbs a:visited {
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 50px;
    opacity: .3;
    overflow: hidden;
    transition: all .2s ease-out;
    width: 50px;
}

.sp-thumbs a:hover { opacity: 1; }

.sp-thumbs a:active, .sp-current {
    opacity: 1 !important;
    position: relative;
}

.sp-large {
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
}

.sp-large a img {
    height: auto;
    max-width: 100%;
}

.sp-large a { display: block; }

.sp-zoom {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    display: none;
    left: -50%;
    position: absolute;
    top: -50%;
}

.sp-lightbox {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .9);
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1031;
}

.sp-lightbox img {
    border: 2px solid #fff;
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    right: 0;
    top: 0;
}

#sp-prev, #sp-next {
    background: #000;
    border: 2px solid #fff;
    border-radius: 25px;
    box-sizing: border-box;
    color: #fff;
    height: 50px;
    margin-top: -25px;
    padding: 14px;
    position: absolute;
    text-decoration: none;
    top: 50%;
    transition: .2s;
    width: 50px;
    z-index: 501;
}

#sp-prev { left: 10px; }

#sp-prev:before {
    border: 7px solid transparent;
    border-right: 15px solid #fff;
    content: '';
    left: 7px;
    position: absolute;
    top: 16px;
}

#sp-next { right: 10px; }

#sp-next:before {
    border: 7px solid transparent;
    border-left: 15px solid white;
    content: '';
    left: 18px;
    position: absolute;
    top: 16px;
}

#sp-prev:hover, #sp-next:hover { background: #444; }

@media screen and (max-width: 400px) {
    .sp-wrap { margin: 0 0 15px 0; }
}

@media screen and (max-width: 400px) {
    #sp-prev, #sp-next {
        bottom: 25px;
        margin-top: 0;
        top: auto;
    }
}