@model List<Resital.DTO.RoomDto>

    <div class="item">
        <div class="row">
        @foreach (var a in Model)
        {
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@a.Company.Name</h5>
                        <p class="card-text">@a.RoomLocation.Name</p>
                        <p class="card-text"><small class="text-muted">@a.RoomType.Name</small></p>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>